{%  extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}Cart | {% endblock %}

    {%  block content %}

        <div id="cartapp">

            <h1 class="title">Shopping Cart</h1>

            {%  if cart %}  <!-- If user has items in cart display the title of each -->

                <!-- Table for displaying the values on the cart page -->
                <div class="table">
                    <table class="table">
                        <thead>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Product ID</th>
                            <th></th>
                        </thead>

                        <tbody>
                        <tr v-for="product in products"> <!-- Vue.js loop for each product in cart -->
                            <td>[[ product.title ]]</td>  <!-- Not using delimiters throws error (from docs) -->
                            <td>[[ product.quantity ]] <button @click="incrementQuantity(product.id, product.quantity)">+</button></td>
                            <td>€[[ product.price ]]</td>
                            <td>€[[ product.total_price ]]</td>
                            <td>[[ product.product_id ]]</td>
                            <td><button @click="removeFromCart(product.id)">Remove from Cart</button></td>
                        </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>Total Price:</td>
                                <td>{{ cart.get_total_length }}</td>
                                <td></td>
                                <td>€{{ cart.get_total_cost }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            {% else %}
                <p>Your cart is empty!</p>
            {%  endif %}
        </div>
    {% endblock %}

{%  block scripts %}
        <script>
            var productapp = new Vue({
                el: '#cartapp',
                delimiters: ['[[', ']]'],  // Prevent clash with Django (from docs)
                store: store,  // Extend functionality of Vuex cart to cart.html
                data() {
                    return {
                        products: [{{ products_string|safe }}]  // Make Django print cart page info
                    }
                },
                methods: {
                    incrementQuantity(product_id, quantity) {
                        console.log('product_id', product_id);

                        var data = {
                            'product_id': product_id,
                            'update': true,
                            'quantity': parseInt(quantity + 1)  // Parse as Int to be sure
                        };

                        store.commit('increment', 1); // When incrementing quantity also call Vuex increment

                        fetch('/api/add_to_cart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',  // Tell it the content type
                                'X-CSRFToken': '{{  csrf_token }}'  // Django security requirement (from docs)
                            },
                            credentials: 'same-origin',  // Accept request only from same-origin
                            body: JSON.stringify(data)
                        })
                        .then((response) => {
                            console.log(response)  // For debugging!

                            // Update cart quantity and total price without refreshing the page
                            for (var i = 0; i < this.products.length; i++) {  // Increase on click
                                var product = this.products[i];

                                if (product.id === product_id) {
                                    this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                                    this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                                }
                            }
                        })

                        .catch(function (error) {
                            console.log('Error 2');
                            console.log(error)
                        })
                    },
                    removeFromCart(product_id) {
                        console.log('Product_id:', product_id);

                        var data = {
                            'product_id': product_id
                        };

                        fetch('/api/remove_from_cart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',  // Tell it the content type
                                'X-CSRFToken': '{{  csrf_token }}'  // Django security requirement (from docs)
                            },
                            credentials: 'same-origin',  // Accept request only from same-origin
                            body: JSON.stringify(data)
                        })
                        .then((response) => {
                            console.log(response)

                            this.products = this.products.filter(product => product.id !== product_id)
                        })

                        .catch(function (error) {
                            console.log('Error 2');
                            console.log(error)
                        })
                    }
                }
            });
        </script>
{%  endblock %}
</head>
<body>

</body>
</html>